header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body{
  background-color: rgb(59, 59, 59);
  color:rgb(206, 206, 206)
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.head-banner{
  background-color: black;
}

a{
  color:rgb(156, 243, 70);
}

.post-card{
  margin: .25rem;
  border-width: 2px;
  border-color: rgb(196, 198, 199);
  background-color: black;
}